<div id="left-block">
    <div id="page-atr">
        <img id="site-image" src="image/logo.png">
        <span id="site-name">ToDo</span>
    </div>

    <div class="left-bar-item" id="home-page">
        <div class="left-bar-item-before-text"></div>
        <span class="glyphicon glyphicon-home left-bar-glyph"></span>
        <div class="left-bar-item-text">Home</div>
    </div>

    <div class="left-bar-item" id="task-page">
        <div class="left-bar-item-before-text"></div>
        <span class="glyphicon glyphicon-folder-open left-bar-glyph"></span>
        <div class="left-bar-item-text">Task Pool</div>
    </div>

    <div class="left-bar-item" id="settings-page">
        <div class="left-bar-item-before-text"></div>
        <span class="glyphicon glyphicon-cog left-bar-glyph"></span>
        <div class="left-bar-item-text">Settings</div>
    </div>
</div>
