#task-mang-modal-body{
    height: 600px;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: relative;
}
#task-mang-modal-content{
    padding: 20px;
}
